/** Add css rules here for your application. */

.navigationLink {
  font-size: 1.2em;
  font-family: Geneva, Tahoma, Verdana, sans-serif;
  font-face: bold;
  color: #CC2222;
  padding-top:15px;
  padding-bottom:15px;
  padding-right:15px;
  padding-left:15px;
}

.vendorListHeader {
  background-color: #EEEEEE;
}

.vendorListNameColumn {
}

.vendorListRatingColumn {
}

.vendorListTextColumn {
}

h1 {
  font-size: 5em;
  font-weight: bold;
  font-family: Geneva, Tahoma, Verdana, sans-serif;
  color: #CC2222;
  margin: 0px 0px 0px;
  text-align: center;
}

h2 {
  font-size: 3em;
  font-weight: bold;
  font-family: Geneva, Tahoma, Verdana, sans-serif;
  color: #CC2222;
  margin: 0px 0px 0px;
  text-align: left;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
