/** Add css rules here for your application. */

.navigationLink {
  font-size: 16px;
  font-family: Geneva, Tahoma, Verdana, sans-serif;
  font-face: bold;
  color: #B80C04;
  margin: 15px 15px 15px;
}

h1 {
  font-size: 5em;
  font-weight: bold;
  font-family: Geneva, Tahoma, Verdana, sans-serif;
  background-color: #B80C04;
  color: #FFFFFF;
  text-shadow: 0px 2px 3px #890600;
  margin: 0px 0px 0px;
  text-align: center;
  vertical-align: middle;
}

h2 {
  font-size: 3em;
  font-weight: bold;
  font-family: Geneva, Tahoma, Verdana, sans-serif;
  color: #B80C04;
  margin: 0px 0px 0px;
  text-align: left;
}

.north {
  background-color: #B80C04;
}

.vendorListHeader {
  font-size: 14px;
  background-color: #EEEEEE;
}

.vendorListNameColumn {
  color: #3B64A6 !important;
  font-color: #3B64A6 !important;
  font-weight: bold !important;
}
.costColumn {
  font-size: 18px;
  color: #458B00 !important;
  font-color: #458B00 !important;
  font-weight: bold !important;
}


.vendorListTextColumn {
}

.vendorListRatingColumn {
}

.vendorInfoPanelName {
  font-size: 2.5em;
  font-weight: bold;
  font-family: Geneva, Tahoma, Verdana, sans-serif;
  color: #3B64A6;
  margin: 0px 0px 0px;
  text-align: left;
}

.vendorInfoPanelDescription {
  font-size: 1.5em;
  font-weight: bold;
  font-family: Geneva, Tahoma, Verdana, sans-serif;
  color: #333333;
  margin: 0px 0px 0px;
  text-align: left;
}

.vendorInfoPanelLocation {
  font-size: 1.5em;
  font-weight: normal;
  font-family: Geneva, Tahoma, Verdana, sans-serif;
  color: #555555;
  margin: 0px 0px 0px;
  text-align: left;
}

.profileGridKeys {
  text-align: left;
}

.profileGridValues {
  text-align: right;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
