/** Add css rules here for your application. */

.navigationLink {
  font-size: 16px;
  font-family: Geneva, Tahoma, Verdana, sans-serif;
  font-face: bold;
  color: #B80C04;
  margin: 15px 15px 15px;
}

.vendorListHeader {
  font-size: 14px;
  font-weight: bold;
  background-color: #EEEEEE;
}

.vendorListNameColumn {
  color: #3B64A6;
  font-weight: bold;
}

.vendorListTextColumn {
}

.vendorListRatingColumn {
}

h1 {
  font-size: 5em;
  font-weight: bold;
  font-family: Geneva, Tahoma, Verdana, sans-serif;
  background-color: #B80C04;
  color: #FFFFFF;
  text-shadow: 0px 2px 3px #890600;
  margin: 0px 0px 0px;
  text-align: center;
  vertical-align: middle;
}

h2 {
  font-size: 3em;
  font-weight: bold;
  font-family: Geneva, Tahoma, Verdana, sans-serif;
  color: #B80C04;
  margin: 0px 0px 0px;
  text-align: left;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
