<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>FoodSorce.html</welcome-file>
	</welcome-file-list>

	<!-- Servlets -->
	<servlet>
		<servlet-name>loginService</servlet-name>
		<servlet-class>com.appspot.foodsorce.server.login.LoginServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>loginService</servlet-name>
		<url-pattern>/foodsorce/login</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>vancouverDataService</servlet-name>
		<servlet-class>com.appspot.foodsorce.server.admin.VancouverDataServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>vancouverDataService</servlet-name>
		<url-pattern>/foodsorce/vancouverData</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>profileService</servlet-name>
		<servlet-class>com.appspot.foodsorce.server.profile.ProfileServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>profileService</servlet-name>
		<url-pattern>/foodsorce/profile</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>vendorService</servlet-name>
		<servlet-class>com.appspot.foodsorce.server.vendor.VendorServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>vendorService</servlet-name>
		<url-pattern>/foodsorce/vendor</url-pattern>
	</servlet-mapping>

</web-app>
